# Gradle build outputs
build/
.gradle/
local.properties

# Kotlin compilation cache
.kotlin/

# IDE - IntelliJ / Android Studio
*.iml
.idea/
.idea_modules/

# Native build artifacts
.externalNativeBuild/
.cxx/

# Test screenshots
captures/

# Generated APK / AAB / AP_ files
*.apk
*.aab
*.ap_

# Signing & secrets
*.keystore
*.jks
*.key
google-services.json

# Fastlane
fastlane/report.xml
fastlane/test_output
